[submodule "bundle/gv.vim"]
	path = pack/bundle/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-markdown-preview"]
	path = pack/bundle/start/vim-markdown-preview
	url = https://github.com/JamshedVesuna/vim-markdown-preview.git
[submodule "bundle/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/nerdcommenter"]
	path = pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-gitgutter"]
	path = pack/bundle/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = pack/bundle/start/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-puppet"]
	path = pack/bundle/start/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-unimpaired"]
	path = pack/bundle/start/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-vinegar"]
	path = pack/bundle/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "pack/bundle/start/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/bundle/start/SimpylFold"]
	path = pack/bundle/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
